.body {
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  font-family: Inter, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3%;
  padding-left: 3%;
}

.section.one {
  max-width: 1438px;
  background-image: url('../images/nfts-1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.two {
  padding-top: 63px;
  padding-bottom: 29px;
}

.section.three {
  padding-top: 92px;
  padding-bottom: 90px;
  background-color: #fff;
  color: #000;
}

.section.five {
  padding-top: 120px;
  padding-bottom: 102px;
  background-color: #fff;
  color: #000;
}

.section.seven {
  padding-top: 52px;
  padding-bottom: 51px;
  background-color: #fff;
  color: #000;
}

.section.eight {
  padding-top: 90px;
  padding-bottom: 133px;
}

.section.six {
  padding-top: 118px;
  padding-bottom: 140px;
}

.section._103-137 {
  padding-top: 103px;
  padding-bottom: 137px;
  background-image: url('../images/star-1.png');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container.one {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1363px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1262px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.five {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1036px;
  margin-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.seven {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.apart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 113px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 860px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.apart-on {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1308px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.threee {
  position: relative;
  z-index: 3;
  max-width: 525px;
  margin-top: 39px;
}

.twoo {
  position: absolute;
  left: 112px;
  width: 100%;
  max-width: 364px;
}

.onee {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  max-width: 219px;
}

.fourr {
  position: absolute;
  right: 85px;
  z-index: 2;
  width: 100%;
  max-width: 367px;
}

.fivee {
  position: absolute;
  left: auto;
  top: auto;
  right: -3%;
  bottom: auto;
  width: 100%;
  max-width: 217px;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 66px;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1163px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-wrap {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.middle {
  margin-right: 0px;
  margin-left: 14px;
}

.scroll-down {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: none;
  max-width: 160px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.rela {
  position: relative;
}

.head-wrap {
  position: relative;
}

._100px {
  font-family: Nebula, sans-serif;
  font-size: 100px;
  line-height: 86px;
  font-weight: 400;
  text-align: center;
}

.white-line {
  width: 102px;
  height: 2px;
  margin: 34px auto;
  background-color: #fff;
}

.white-line.up {
  margin-top: 0px;
  margin-bottom: 0px;
}

._96-wrap {
  position: relative;
  margin-bottom: 75px;
}

.image-2 {
  position: absolute;
  left: -52px;
  top: auto;
  right: auto;
  bottom: -74px;
  width: 100%;
  max-width: 1220px;
  min-width: 110%;
  margin-right: auto;
  margin-left: auto;
}

.text-block {
  margin-bottom: 134px;
  font-family: Rbno21a, sans-serif;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.text-block.white {
  display: inline-block;
  margin-bottom: 0px;
  color: #fff;
  font-size: 40px;
  line-height: 36px;
}

.text-block._18px-bottom {
  margin-bottom: 18px;
}

.text-block.center {
  margin-bottom: 0px;
  font-size: 64px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 48px;
  font-family: Rbno21a, sans-serif;
  font-size: 96px;
  line-height: 115px;
  font-weight: 700;
  text-align: center;
}

.heading.left {
  text-align: left;
}

.paragraph-2 {
  width: 100%;
  max-width: 904px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

.head-and-para {
  max-width: 382px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 49px;
  font-family: Rbno21a, sans-serif;
  font-size: 96px;
  line-height: 86px;
  text-transform: uppercase;
}

.paragraph-3 {
  margin-bottom: 0px;
  text-transform: uppercase;
}

._18px {
  display: inline;
  max-width: 568px;
  margin: 56px auto 62px;
  font-family: Integralcf, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
}

._18px.white {
  display: block;
  margin: 0px auto;
  color: #fff;
  line-height: 36px;
  font-weight: 400;
}

.counterup {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Integralcf, sans-serif;
  font-size: 64px;
  line-height: 74px;
  font-weight: 700;
  text-align: center;
}

.counterup.integral {
  margin-bottom: 10px;
  font-family: Integralcf, sans-serif;
  line-height: 77px;
}

._96 {
  max-width: 518px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Rbno21a, sans-serif;
  font-size: 96px;
  line-height: 86px;
  text-align: left;
}

.text-block-3 {
  font-family: Integralcf, sans-serif;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
}

.text-block-5 {
  margin-top: 73px;
  font-family: 'Rbno21b book', sans-serif;
  font-weight: 400;
}

._145px.w--current {
  width: 100%;
  max-width: 304px;
}

.image-7 {
  width: 100%;
}

.link-block-2 {
  max-width: 104px;
}

.link-block-2.w--current {
  width: 100%;
  max-width: 196px;
}

.image-8 {
  width: 100%;
}

.dod-crew {
  width: 100%;
  max-width: 740.77px;
  margin-right: auto;
  margin-left: auto;
}

.image-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons-and-text {
  position: relative;
}

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  min-height: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.icons:hover {
  background-color: #fff;
}

.scale.robot {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.scale.robot._117 {
  width: 100%;
  max-width: 100px;
}

.scale.shark {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.scale._100px {
  max-width: 90px;
}

.text-block-9 {
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Rbno21b book', sans-serif;
  font-size: 24px;
  line-height: 28.08px;
  text-align: center;
  text-transform: uppercase;
}

.wrap-all {
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.bold-text {
  font-family: Rbno21a, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

._300px {
  height: 300px;
}

.lok {
  margin-right: 14px;
  margin-left: 14px;
}

.lok.abs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dod-ar {
  width: 100%;
  max-width: 1233px;
  margin-right: auto;
  margin-left: auto;
}

.max-429 {
  display: block;
  width: 100%;
  max-width: 527.3px;
  margin-right: auto;
  margin-bottom: 102px;
  margin-left: auto;
}

.grid-three {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 51px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.block-wrap-20 {
  margin-bottom: 33px;
  padding-top: 46px;
  border: 1px solid #000;
  border-radius: 20px;
}

.blackj {
  padding-bottom: 29px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #000;
}

.width-139px {
  width: 100%;
  max-width: 120px;
}

.wid-100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 275px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 22px;
  padding-bottom: 29px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wid-100._300 {
  max-width: 300px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.wid-100._331 {
  max-width: 310px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fox-img {
  width: 100%;
}

.card-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.snap-parent {
  display: inline-block;
  margin: 33px auto;
  cursor: pointer;
}

.width-180 {
  display: block;
  width: 100%;
  max-width: 180px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  border-radius: 28px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.width-180:hover {
  box-shadow: 1px 1px 100px 45px rgba(0, 0, 0, 0.3);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

._36px {
  margin-bottom: 70px;
  font-family: Rbno21a, sans-serif;
  color: #c4c4c4;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

._36px._23up {
  display: block;
  margin: 23px auto 77px;
}

.e5e5e5 {
  display: block;
  width: 100%;
  max-width: 924px;
  margin-right: auto;
  margin-left: auto;
  padding: 23px 5%;
  border-radius: 100px;
  background-color: #e5e5e5;
  cursor: wait;
}

.blk-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1238px;
  margin-bottom: 0px;
  padding-top: 76px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #000;
}

.logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1242px;
  margin-top: 63px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._368 {
  width: 100%;
  max-width: 368px;
}

.image-15 {
  width: 100%;
  max-width: 612px;
}

.log-link {
  width: 33%;
  cursor: pointer;
}

.log-link._334-36 {
  width: 30%;
  max-width: 334.36px;
}

.log-link._383 {
  width: 30%;
  max-width: 383px;
}

.log-link._349 {
  width: 30%;
  max-width: 349px;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 44px;
  max-width: 256px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #1a73fa;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.45);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Integralcf, sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.button.left {
  height: 50px;
  max-width: 250px;
  margin-top: 50px;
  margin-left: 0px;
  font-size: 20px;
  line-height: 20px;
}

.button._90-up {
  height: 68px;
  max-width: 302px;
  margin-top: 90px;
  font-size: 24px;
  line-height: 48px;
}

.max-910 {
  width: 100%;
  max-width: 910px;
  margin-right: auto;
  margin-left: auto;
}

.max-270px {
  width: 100%;
  max-width: 270px;
  margin-right: 20px;
  margin-left: 16px;
  cursor: pointer;
}

.left-wrap {
  width: 40%;
  max-width: 650px;
}

.right-wrap {
  width: 60%;
  max-width: 648px;
}

.max-776px {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.max-517 {
  display: block;
  width: 100%;
  max-width: 517px;
  margin-right: auto;
  margin-bottom: 97px;
  margin-left: auto;
}

.video-wrap {
  width: 64%;
  height: 396px;
  max-width: 834px;
}

._14px {
  font-family: Integralcf, sans-serif;
  line-height: 17px;
  text-align: center;
}

.text-block-10 {
  margin-bottom: 10px;
  text-align: center;
}

.background-video {
  z-index: 999999;
  width: 100%;
  height: 396px;
  max-width: 834px;
}

@media screen and (min-width: 1440px) {
  .threee {
    margin-top: 100px;
  }

  .twoo {
    left: 200px;
  }

  .onee {
    left: 2%;
  }

  .fourr {
    right: 200px;
  }

  .fivee {
    right: 3%;
  }

  .image-2 {
    bottom: -61px;
    max-height: 80px;
  }

  .text-block.white {
    font-size: 48px;
  }

  .wid-100._331 {
    max-width: 331px;
  }

  .button.left {
    height: 68px;
    max-width: 302px;
    font-size: 24px;
    line-height: 24px;
  }

  .left-wrap {
    width: 50%;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
  }

  .max-776px {
    width: 100%;
    max-width: 633px;
  }

  .background-video {
    width: 834px;
  }
}

@media screen and (max-width: 991px) {
  .container.one {
    max-width: 800px;
  }

  .container.three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .container.five {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .container.numbers {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .container.apart-on {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .threee {
    max-width: 400px;
  }

  .twoo {
    left: 83px;
    max-width: 220px;
  }

  .onee {
    max-width: 150px;
  }

  .fourr {
    right: 70px;
    max-width: 220px;
  }

  .fivee {
    right: -1%;
    max-width: 150px;
  }

  ._96-wrap {
    max-height: 90px;
    margin-top: 60px;
  }

  .image-2 {
    left: auto;
    bottom: -20px;
    display: block;
    max-width: 100%;
    min-width: 100%;
  }

  .text-block.white {
    font-size: 32px;
  }

  .text-block.center {
    font-size: 42px;
  }

  .head-and-para {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .heading-2 {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 70px;
  }

  .counterup {
    font-size: 40px;
    line-height: 40px;
  }

  ._96 {
    margin-bottom: 40px;
    text-align: center;
  }

  ._96.lft {
    text-align: left;
  }

  .grid-three {
    grid-column-gap: 10px;
  }

  .width-139px {
    max-width: 80px;
  }

  .wid-100 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .wid-100._300 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .max-270px {
    max-width: 180px;
  }

  .left-wrap {
    width: 40%;
  }

  .right-wrap {
    width: 100%;
    max-width: 800px;
  }

  .video-wrap {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .section.five {
    padding-top: 100px;
  }

  .section._103-137 {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .container.one {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .container.two {
    width: 100%;
  }

  .container.five {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .container.apart {
    margin-bottom: 60px;
  }

  .threee {
    width: 100%;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
  }

  .twoo {
    left: 64px;
    display: block;
    width: 30%;
    max-width: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  .onee {
    width: 20%;
    max-width: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  .fourr {
    width: 35%;
    max-width: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  .fivee {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .rela {
    max-width: 45%;
  }

  .head-wrap {
    width: 100%;
  }

  ._100px {
    font-size: 60px;
  }

  .image-2 {
    left: -19px;
    bottom: -36px;
  }

  .text-block.center {
    font-size: 32px;
  }

  .heading-2 {
    font-size: 42px;
    line-height: 48px;
  }

  .counterup {
    font-size: 32px;
  }

  ._96 {
    margin-right: auto;
    margin-left: auto;
  }

  ._96.lft {
    margin-left: 0px;
    font-size: 54px;
    line-height: 60px;
  }

  .icons {
    width: 130px;
    height: 130px;
    min-height: 130px;
  }

  .grid-three {
    max-width: 600px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .width-139px {
    max-width: 120px;
  }

  .max-270px {
    max-width: 120px;
  }

  .list {
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .section.one {
    padding-bottom: 60px;
  }

  .section.two {
    padding-top: 100px;
  }

  .section.three {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.five {
    padding-top: 60px;
  }

  .section._103-137 {
    padding-top: 60px;
  }

  .container.numbers {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .threee {
    bottom: -50px;
    max-width: none;
    margin-top: 100px;
  }

  .twoo {
    left: auto;
    right: 58%;
    bottom: -10px;
  }

  .onee {
    left: auto;
    right: 80%;
  }

  .fourr {
    right: 7%;
    bottom: -25px;
  }

  .navbar {
    top: 40px;
  }

  .scroll-down {
    bottom: -100px;
  }

  .scroll-down.w--current {
    bottom: -34%;
  }

  .rela {
    max-width: 50%;
  }

  ._100px {
    font-size: 50px;
    line-height: 70px;
  }

  .white-line.up {
    position: relative;
    top: 100px;
    margin-bottom: 0px;
  }

  .image-2 {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: -2.5vh;
    min-width: 100%;
  }

  .text-block.center {
    font-size: 6vw;
    white-space: nowrap;
  }

  .heading {
    font-size: 20vw;
  }

  .heading.left {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 54px;
  }

  .paragraph-2 {
    width: 100%;
  }

  .counterup {
    font-size: 32px;
    line-height: 20px;
  }

  .counterup.integral {
    font-size: 24px;
    line-height: 28px;
  }

  ._96 {
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 48px;
  }

  ._96.lft {
    font-size: 42px;
    line-height: 48px;
  }

  ._145px.w--current {
    max-width: 220px;
  }

  .link-block-2.w--current {
    max-width: 130px;
  }

  .image-wrap {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .bold-text {
    font-size: 16px;
  }

  .max-429 {
    width: 80%;
    margin-bottom: 50px;
  }

  .wid-100 {
    max-width: 100%;
  }

  .wid-100._300 {
    max-width: none;
  }

  .wid-100._331 {
    max-width: none;
  }

  .e5e5e5 {
    max-width: 90%;
  }

  .logo-wrap {
    margin-top: 40px;
  }

  .image-15 {
    padding-left: 30px;
  }

  .image-16 {
    display: block;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .max-270px {
    max-width: 100px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .left-wrap {
    width: 50%;
  }

  ._14px {
    font-size: 12px;
  }

  .background-video {
    height: 250px;
    max-height: 250px;
  }
}

@font-face {
  font-family: 'Rbno21b book';
  src: url('../fonts/RBNo21b-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno21a';
  src: url('../fonts/RBNo21a-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno21a';
  src: url('../fonts/RBNo21a-Medium.ttf') format('truetype'), url('../fonts/RBNo21a-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-ExtraBold.otf') format('opentype'), url('../fonts/IntegralCF-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nebula';
  src: url('../fonts/Nebula-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}